@model MvcStockApplication.Models.Entity.Order

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Sale</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">Order Detail</h2>
            </div>
            <form method="post" action="/Order/NewOrder" class="form form-control" style="height:auto;">
                <div class="modal-body">
                    <label>Product Name</label>
                    @Html.TextBoxFor(m => m.Product, new { @class = "form-control" })
                    <br />
                    <label>Customer</label>
                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control" })
                    <br />
                    <label>Piece</label>
                    @*<input type="text" name="Customer" class="form-control" style="margin-left:10px; width:300px; background-color:white;" disabled="disabled" />*@
                    @Html.TextBoxFor(m => m.Piece, new { @class = "form-control" })
                    <br />
                    <label>Price</label>
                    @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info"> Sales</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div> 