@model MvcStockApplication.Models.Entity.Customer
@{
    ViewBag.Title = "GetCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("UpdateCustomer", "Customer", FormMethod.Post))
{
    <div class="form-group">
        <div style="width:350px;">
            <label class="form-group">Customer ID</label>
            @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", disabled = "disabled" })
            <br />
            <label class="form-group">Customer Name</label>
            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
            <br />
            <label class="form-group">Customer Surname</label>
            @Html.TextBoxFor(m => m.CustomerSurname, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px;">
            <button class ="btn btn-info"> Save</button> 
        </div>
    </div>
}
